{{ 'component-recent-work.css' | asset_url | stylesheet_tag }}
<div class="recent-work-header">
  <div>
    <h1 class="main-page-title page-title h0">
      Recent Work
    </h1>
    <div class="rte">
    </div>
  </div>
   <div class='filter-container'>
    <div class='filters'>
      <button class="filter" value="Footwear">Footwear</button>
      <button class="filter" value="Social">Social</button>
      <button class="filter" value="Clothing">Cothing</button>
    </div>
  </div>
</div>
<div class="recent-work-container">
  {%- for block in section.blocks -%}
      {% case block.type %}
          {%- when 'slide' -%}
              <a class='project-link-container' href="{{block.settings.project_url}}">
                  <div class='project-container' style="background: {{block.settings.background_color}}">
                      <div class="project-image-container">
                          <img src="{{block.settings.image  | img_url: 'master' }}">
                      </div>
                      <h3 class="project-title {% if block.settings.text_color == 'black' %} color-black {% elsif block.settings.text_color == 'white' %} color-white {% endif %}">{{block.settings.project_name}}</h3>
                  </div>
                  <div class='project-tag' data-tag={{block.settings.project_tag}}>{{block.settings.project_tag}}</div>
              </a>
      {%- endcase -%}
  {%- endfor -%}
 
</div>

{{ 'recent-work-filter.js' | asset_url | script_tag }}


{% schema %}
{
  "name": "Recent Work",
  "tag": "section",
  "class": "project-scroll",
  "max_blocks": 20,
 	"settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Projects"
    }
  ],
  	"blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
            "type": "url",
            "id": "project_url",
            "label": "Project URL"
         },
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
           "type": "text",
           "id": "project_name",
           "label": "Project Name"
         },
         {
            "type": "text",
            "id": "description",
            "label": "Project Description"
         },
         {
            "type": "color",
            "id": "background_color",
            "label": "Background Color"
         },
         {
            "type": "select",
            "id": "text_color",
            "label": "Text Colors",
            "options": [
                {
                "value": "black",
                "label": "Black"
                },
                {
                "value": "white",
                "label": "White"
                }
            ],
            "default": "black"
         },
         {
            "type": "select",
            "id": "project_tag",
            "label": "Project Tag",
            "options": [
                {
                "value": "Footwear",
                "label": "Footwear"
                },
                {
                "value": "Social",
                "label": "Social"
                },
                {
                "value": "Clothing",
                "label": "Clothing"
                }
            ],
            "default": "Footwear"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "Recent Work",
      "category": "collection"
    }
  ]
}
{% endschema %}
